.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(-25px);

	&__button {
		@include btn-1();
		font-size: 22px;

	}

	&__text {
		margin-top: 15px;
		color: $color2;
	}
}