.editor {
	&__title {
		font-size: 54px;
		font-weight: bold;
		color: $color3;
		margin-bottom: 16px;
		text-align: center;
	}

	&__subtitle {
		color: #323232;
		letter-spacing: 1px;
		max-width: 600px;
		margin: 16px auto;
		text-align: center;
	}

	&__stats {
		display: grid;
		align-items: center;
		@include breakpointt(sm){
			grid-template-columns: 1fr 1fr ;
		}
		@include breakpointt(md){
			grid-template-columns: repeat(3,1fr);
		}
		justify-content: center;
		gap: 20px;
	}

	&__item {
		display: flex;
			
	
		// flex-wrap: wrap;
		align-items: center;
		border: 1px solid #666;

		div {
			padding: 10px 15px;
			background-color: #fbfbfb;
			display: flex;

			img {
				width: 24px;

			}

			p {
				font-weight: bold;
			}
		}

		.number {
			padding: 10px 15px;
			background-color: #fff;
			border: 1px solid #666;
		}
	}

}