.nav {
	height: 72px;
	padding: 30px 0;
	@include breakpointt(sm){
		display: none;
	}

	@include breakpointt(md) {
		display: block;
		background-color: #27262a;
	}
	@include breakpointt(lg){
		background-color: #010005;
	}

	.container {
		display: flex;
		justify-content: space-between;
		gap : 16px;
		
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 20px;

		img {
			width: 48px;
		}

		&__text {
			font-weight: bold;
			font-size: 32px;
			text-transform: uppercase;
			color: #fff;
		}
	}

	&__list {
		display: flex;
		gap: 16px;
		@include breakpointt(md){
			margin-top: 30px;
		}
		@include breakpointt(lg){
			margin-top: 0;
		}
	}

	&__item {
		font-size: 18px;
		padding: 10px 14px;
		color: $color1;

		&:hover {
			color: #fff;
		}
	}

	&__btn {
		@include btn-1();
	}
}