.nav-mobile {
	height: 72px;
	padding: 16px 0 ;
	.container {
		display: flex;
		justify-content: space-between;
	}
	position: relative;
	@include breakpointt("md") {
		display: none;
	}


	
	&__logo {
		width: 36px;
	}

	&__btn {
		@include btn-1();
	}

	&__hamburger {
		width: 36px;
	}
	&__list {
		display: none;
		position: absolute;
		width: 100%;
		left : 0;
		top : 72px;
	}
	&__item{
		color : #fff;
		width: 90%;
		margin:  0 auto;
		background-color: #333;
		padding: 20px 12px;
		border-bottom: 2px solid #666;
		font-size: 20px;
		&--active{
			border-left : 5px solid $color1;
		}
	}

}