@mixin btn-1 () {
	color: #fff;
	background-color: $color1;
	padding: 12px 16px;
	font-weight: bold;

	&:hover {
		background-color: #fff;
		color: $color1;
	}
}

@mixin breakpointt ($size : 'sm') {


	@if  ($size == sm) {
		@media screen and (min-width:320px) {
			
		}
	}
	@else if ($size == md) {
		@media screen and (min-width:768px) {
			
		}
	}
	@else if ($size == lg){
		@media screen and (min-width : 1200px) {
			
		}
	}


}
